@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaRegular/HelveticaRegular.woff') format('woff'), url('../fonts/HelveticaRegular/HelveticaRegular.ttf ptsans.ttf') format('truetype');
}

.wrapper {
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header {
    height: 823px;
    background-image: url(/assets/pictures/image61.png);
}

.header_logo {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.header_logo2 {
    display: flex;
    justify-content: center;
    padding-top: 170px;
}

.header_text {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.header_text-col {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 57px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 38px;
    margin-right: 38px;
    margin-bottom: 21px;
    margin-top: 36px;
}

.head_button {
    margin-left: 203px;
    margin-right: 203px;
    width: 194px;
    height: 50px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid white;
}

.head_button:hover {
    font-size: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_text {
    width: 540px;
    margin-top: 40px;
}

.main_text-disc {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #000000;
    margin-top: 0;
    margin-bottom: 0;
}

.main_head {
    display: flex;
    justify-content: center;
}

.main_head-style {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: #242322;
    margin-top: 40px;
}

.main_card {
    display: flex;
    gap: 17px;
}

.main_card-style {
    width: 261px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.card_head {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #242322;
    margin-bottom: 0;
}

.card_text {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #5A5A5A;
}

.card_price {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #242322;
    margin-top: 0;
}

.card_button {
    width: 128px;
    height: 35px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #32120D;
    background-color: white;
    border: 1px solid #939393;
}

.card_button:hover {
    font-size: 16px;
}

.card-price {
    display: flex;
    gap: 10px;
}

.card_oldprice {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-decoration-line: line-through;
    margin-top: 0;
    color: #939393;
}

.card_newprice {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: rgba(174, 14, 36, 1);
    margin-top: 0;

}

.main_button {
    margin-top: 30px;
    width: 276px;
    height: 50px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #32120D;
    border: none;
    margin-bottom: 40px;
}

.main_button:hover {
    font-size: 20px;
}

.footer {
    border-top: 1px solid #DCDCDC;
}

.footer_social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    width: 133px;
    margin-bottom: 20px;
}

.footer_blocklink {
    display: flex;
    justify-content: center;
}

.footer_adress {
    text-align: center;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #32120D;
}

.footer_mailing,
.link {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #BEB1AE;
}

.footer_link {
    display: flex;
    width: 208px;
    justify-content: space-between;
    margin-bottom: 40px;
}